POSTGRES_USER=admin
POSTGRES_PASSWORD=adminpassword
POSTGRES_DB=jud_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# LLM-as-a-Judge
OLLAMA_HOST=http://localhost:11434
ANTHROPIC_API_KEY=
OPENAI_API_KEY=
